.crew-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.crew-member {
    text-align: center;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.crew-member ul {
    display:flex;
    width:100%;
    list-style:none;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.crew-member ul li {
    width:20%;
    margin:20px;
    padding:20px;
    border-radius:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.crew-member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.crew-member h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.crew-member p {
    margin: 0;
    font-size: 14px;
    color: #777;
}
